.container {
    width: 100%;
    height: 920px;
    background: url(./images/后台登录2.png) no-repeat;
}

.main {
    position: absolute;
    width: 310px;
    height: 390px;
    background-color: #fff;
    right: 80px;
    top: 18%;

}

.title {
    width: 100%;
    height: 60px;

    position: relative;
    top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;


}

.title span {
    width: 50px;
    height: 3px;
    background: rgba(9, 182, 153, 1);
    position: absolute;
    top: 2px;
    left: 130px;
}

#user {
    position: relative;
    width: 74%;
    height: 35px;
    top: 50px;
    left: 32px;
    border: 1px solid rgba(234, 234, 234, 1);
    padding-left: 30px;


}

#user1 {
    position: relative;
    left: -230px;
    top: 18px;
}

#password {
    position: relative;
    width: 74%;
    height: 35px;
    top: 80px;
    left: 32px;
    border: 1px solid rgba(234, 234, 234, 1);
    padding-left: 30px;
}

#password2 {
    position: relative;
    left: 35px;
    top: 47px;
}

.select {
    position: relative;
    width: 197px;
    left: 32px;
    top: 75px;
}

.select input {
    width: 116%;
    height: 32px;
    border: 1px solid rgba(234, 234, 234, 1);
    padding-left: 30px;
}

#select1 {
    position: absolute;
    left: 3px;
    top: 6px;
}

#select2 {
    position: absolute;
    left: 230px;
    top: 6px;
}

.main button {
    width: 262px;
    height: 32px;
    position: absolute;
    bottom: 60px;
    left: 32px;
    background: rgba(9, 182, 153, 1);
    color: #fff;

}