.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
#marryTime1  input:nth-last-of-type(2),#dpTime input:last-child{display:none;}

#examinationTime0  input:nth-last-of-type(2),#dpTime input:last-child{display:none;}